@import "global";
.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    &>img{
//        display: none;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &::after { 
        display: none;
        content: "";
        position: absolute;
        width: 200vw;
        height:200vh;
        left: -50%;
        top: -50%;
        background-image: url(../assets/images/grain.jpg);
        animation: grainAnimation 1s steps(4) infinite;
        animation-duration: 1s;
        animation-timing-function: steps(4);
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: grainAnimation;
    }
}
@-webkit-keyframes grainAnimation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        -webkit-transform: translate(-5%, -5%);
        transform: translate(-5%, -5%);
    }
    20% {
        -webkit-transform: translate(-10%, 5%);
        transform: translate(-10%, 5%);
    }
    30% {
        -webkit-transform: translate(5%, -10%);
        transform: translate(5%, -10%);
    }
    40% {
        -webkit-transform: translate(-5%, 15%);
        transform: translate(-5%, 15%);
    }
    50% {
        -webkit-transform: translate(-10%, 5%);
        transform: translate(-10%, 5%);
    }
    60% {
        -webkit-transform: translate(15%, 0);
        transform: translate(15%, 0);
    }
    70% {
        -webkit-transform: translate(0, 10%);
        transform: translate(0, 10%);
    }
    80% {
        -webkit-transform: translate(-15%, 0);
        transform: translate(-15%, 0);
    }
    90% {
        -webkit-transform: translate(10%, 5%);
        transform: translate(10%, 5%);
    }
    100% {
        -webkit-transform: translate(5%, 0);
        transform: translate(5%, 0);
    }
}
@keyframes grainAnimation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        -webkit-transform: translate(-5%, -5%);
        transform: translate(-5%, -5%);
    }
    20% {
        -webkit-transform: translate(-10%, 5%);
        transform: translate(-10%, 5%);
    }
    30% {
        -webkit-transform: translate(5%, -10%);
        transform: translate(5%, -10%);
    }
    40% {
        -webkit-transform: translate(-5%, 15%);
        transform: translate(-5%, 15%);
    }
    50% {
        -webkit-transform: translate(-10%, 5%);
        transform: translate(-10%, 5%);
    }
    60% {
        -webkit-transform: translate(15%, 0);
        transform: translate(15%, 0);
    }
    70% {
        -webkit-transform: translate(0, 10%);
        transform: translate(0, 10%);
    }
    80% {
        -webkit-transform: translate(-15%, 0);
        transform: translate(-15%, 0);
    }
    90% {
        -webkit-transform: translate(10%, 5%);
        transform: translate(10%, 5%);
    }
    100% {
        -webkit-transform: translate(5%, 0);
        transform: translate(5%, 0);
    }
}


//Big ups to Alessandro Rigobello (sndrgb.com) and Fabio Carretti (crrtt.com) for the grain animation
 