@import "global";

.contactPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    color: $black;
    &>div{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    h2{
        height: 20vh;
        @include header;
        padding: $padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .center{
        height: 55vh;
        display: flex;
        flex-direction: column;
    }
    h1{
        @include subheader;
        width: 100%;
        text-align: center;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .info{
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
//        border: solid red 1px;
         h3{
            @include body;
            width: fit-content;
            margin: 0 auto;
             padding: .2vw;
        }   
        &.image{
            flex-direction: row;
            &>div{
                width: 10vw;
                &>div{
                    height: 100%;
                    width: 100%;
                    position: relative;
                }
            }
            img{
                object-fit: cover;
                height: 60%;
                width: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                position: absolute;
            }
        }
    }
}