@import "global";

.contactPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    color: $black;
    @include mobile{
        flex-direction: column;
    }
    &>div{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-width: 50vw;
        @include mobile{
            height: 50vh;
            max-width: 100vw;
        }
    }
    h2{
        height: 20vh;
        @include header;
        padding: $padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(-3vw);
        a{
            width: fit-content;
            padding: 10px;
            pointer-events: all;
        }
    }
    .center{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mobile{
            height: fit-content;
        }
    }
    h1{
        @include subheader;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include mobile{
            height: fit-content;
        }
    }
    .info{
        height: 11vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
//        border: solid red 1px;
        @include mobile{
            height: 30vw;
        }
         h3{
            @include body;
            width: fit-content;
            margin: 0 auto;
             padding: 5px;
             font-size: $bodySize * 1.4;
             @include mobile{
                 font-size: $bodySize* 6;
                 text-align: center;
             }
        }   
        &.image{
            flex-direction: column;
            text-align: center;
            @include body;
            font-size: $bodySize * 1.4;
            color: black;
            a{
                opacity: .8;
                transition: all .1s linear;
                &:hover{
                    opacity: 1;
                }
            }
//            &>div{
//                width: 10vw;
//                @include mobile{
//                    width: 20vw;
//                    height: 80%;
//                }
//                &>div{
//                    height: 100%;
//                    width: 100%;
//                    position: relative;
//                }
//            }
            img{
                object-fit: cover;
                height: 60%;
                width: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                position: absolute;
            }
        }
        p{
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
        }
    }
}