@import "global";

.itemContainer{
    width: 50vw;
    height: 100%;
    position: relative;
    .image{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        div{
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
        }
        &.focus{
            opacity: 0;
        }
    }
}