@import "global";
    
.title{
    width: 80vw;
    position: absolute;
    @include subheader;
    bottom: 0;
    left: 23vw;
    pointer-events: none;
      -webkit-text-fill-color: rgba(0,0,0,.1); /* Will override color (regardless of order) */
      -webkit-text-stroke-width: .2vw;
      -webkit-text-stroke-color: $white;
    -webkit-font-smoothing: antialiased;
    @include mobile{
        left: 3vw;
        max-width: 80vw;
    -webkit-text-stroke-width: .4vw;
    }
}