@import "global";
    
.title{
    position: absolute;
    @include subheader;
    bottom: 0;
    left: 23vw;
    pointer-events: none;
      -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $white;
    -webkit-font-smoothing: antialiased;
    @include mobile{
        left: 3vw;
        max-width: 90vw;
    }
}