@import "global";

.topRight{
//    border: solid white 1px;
    width: 20vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    h1{
        position: absolute;
        height: 100%;
        width: fit-content;
        @include header;
        text-align: right;
        padding:0 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
